# +++++++ Base Style +++++++
BasedOnStyle: LLVM

# +++++++ Indents +++++++
IndentWidth: 2
PPIndentWidth: -1
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 2
ConstructorInitializerIndentWidth: 2
IndentPPDirectives: BeforeHash
IndentAccessModifiers: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExportBlock: true
IndentExternBlock: Indent
IndentGotoLabels: true
IndentRequiresClause: true
NamespaceIndentation: All
IndentWrappedFunctionNames: true
LambdaBodyIndentation: Signature
RequiresExpressionIndentation: OuterScope

# +++++++ Line & Column Settings +++++++
ColumnLimit: 100
UseTab: Never
AllowShortIfStatementsOnASingleLine: Never
UseCRLF: false
SeparateDefinitionBlocks: Always
MaxEmptyLinesToKeep: 1

# +++++++ Alignment Settings +++++++
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
AlignOperands: AlignAfterOperator
AlignEscapedNewlines: LeftWithLastLine
AlignAfterOpenBracket: Align
DerivePointerAlignment: true
PointerAlignment: Left

# +++++++ Spaces Settings +++++++
SpacesBeforeTrailingComments: 3
SpaceBeforeCpp11BracedList: true
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeCtorInitializerColon: false
SpaceAfterCStyleCast: true
SpaceBeforeSquareBrackets: false
SpaceBeforeParens: Never
SpacesInSquareBrackets: true
SpacesInParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInAngles: Never
SpacesInParens: Never
SpaceInEmptyBraces: Block
SpaceAfterTemplateKeyword: false

# +++++++ Access Modifier Settings +++++++
AccessModifierOffset: 0
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never

# +++++++ Namespaces +++++++
WrapNamespaceBodyWithEmptyLines: Always
FixNamespaceComments: true

# +++++++ Sort Settings for Includes/Usings +++++++
SortIncludes:
  Enabled: true
  IgnoreCase: false
  IgnoreExtension: false
SortUsingDeclarations: LexicographicNumeric

# +++++++ C++11+ Style Settings +++++++
Cpp11BracedListStyle: false

# +++++++ Penalties +++++++
PenaltyIndentedWhitespace: 1000

# +++++++ Style +++++++
BinPackParameters: OnePerLine
PackConstructorInitializers: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortCompoundRequirementOnASingleLine: true
AllowShortNamespacesOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

# +++++++ Line Breaks +++++++
BreakBeforeBraces: Allman
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: false
BreakInheritanceList: AfterComma
BreakBeforeTemplateCloser: true
BreakBeforeConceptDeclarations: Always
BreakArrays: true
BreakBinaryOperations: Never
BreakConstructorInitializers: AfterColon
BreakAfterAttributes: Always
BreakAdjacentStringLiterals: true
BreakFunctionDefinitionParameters: false
BreakTemplateDeclarations: Yes